body{
    background-color: rgb(139, 247, 166);
    margin: 0;
    padding: 0;
    font-family: 'MinhaFonte', 'arial', sans-serif;
}

header{
    background: linear-gradient(to bottom, #5ad66e, #003d00);
    padding: 10px;
    color: white;
}

main{
    background-color: white;
    padding: 1px 20px;
    width: 50%;
    margin: auto;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.493);
}

nav{
    padding: 0 0 12px 15px;
    background-color: #003d00;
    font-size: large;
}

.h1-1-main{
    color: #003d00;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.espacar{
    padding-bottom: 7px;
}

.centralizar-texto{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    padding: 3px;
}

a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 221);
    font-weight: bold;
}

footer{
    background-color: rgb(0, 58, 0);
    color: white;
    text-align: center;
    padding: 5px;
}

h2{
    background: linear-gradient(to right, #5ad66f33, #ffffff);
    color: #003d00;
}

.section-video{
    background-color: #003d00;
    max-width: 100%;
    margin-bottom: 10px;
}

.section-final{
    border-radius: 10px;
    background-color: rgb(139, 247, 166);
    
}

.cabecalho-final{
    background-color: #5ad66e;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.texto-final{
    padding: 10px;
}

.link-texto{
    color: black;
    font-style: italic;
}

@font-face{
    font-family: 'MinhaFonte';
    src: url('fontes/idroid.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.font{
    font-family: 'MinhaFonte', 'arial', sans-serif;
}